table {
  border-collapse: collapse;
  width: 60%;
}
th,
td {
  border: 1px solid rgb(232, 39, 39);
  padding: 8px;
  text-align: center;
}

table tr:nth-child(2n + 3) {
  background-color: #26f051;
}

table tr:nth-child(2n + 4) {
  background-color: #e2ed08;
}